.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;/*#222;*/
  background-image: url('./assets/books3.jpg');
  background-position: center;
  background-size: cover;
  height: 300px;
  padding-bottom: 1em;
  color: white;
  margin-top:4em;
}
.App-title-container{
  background-color:rgba(0,0,0,0.35);
  height:100%;
  padding-top: 1em;
}

.App-header h2{
  text-shadow: 0 0 10px black;
}

.App-title {
  font-size: 3.5em;
  text-shadow: 0 0 20px black;
  margin-top:1em;
  /*background-color:rgba(0,0,0,0.5);*/
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
